.home{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text-wrapper h1{
        color: var(--green-theme-main-color);
        margin: 0;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 5rem;
        line-height: 8rem;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        animation: typingEffectAnimation 2.5s steps(30,end);
    }

    &__contact-me{
        display: flex;
        justify-content: center;
        margin: 15px 0;

        button{
            cursor: pointer;
            padding: 10px 60px;
            font-size: 2rem;
            background: transparent;
            color: var(--green-theme-main-color);
            border: 1.5px solid var(--green-theme-main-color);
            border-radius: 5px;
            font-weight: 500;

            &:hover{
                background: var(--green-theme-main-color);
                color: var( --green-theme-nav-background-color);
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .home__text-wrapper h1{
        font-size: 2rem;
        line-height: 4rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .home__text-wrapper h1{
        font-size: 3rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
    .home__text-wrapper h1{
        font-size: 4rem;
    }
}

@keyframes typingEffectAnimation{
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}