.navbar{
    background-color: var(--green-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;


   &__container{
        display: flex;
        align-items: center;
        // width: 100%;
        height: inherit;
        padding: 0px 20px;
   }

   &__container__logo{
        color: var(--green-theme-main-color);
        cursor: pointer;
   }

   &__container__menu{
        display: flex;
        list-style: none;
        text-align: center;

        &__item{
            line-height: 40px;
            margin-right: 1.5rem;
            // font-size: 1.6rem;
            font-size: 2rem;

            &::after{
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: all 0.5s ease;
            }

            &:hover::after{
                width: 100%;
                background: var(--green-theme-main-color);
            }

            &__links{
                color: var(--green-theme-main-color);
                text-decoration: none;
                padding: 0.5rem;
            }
        }
   }
}

.nav-icon_mobile{
    display: none;
}

@media only screen and (max-width:768px) {
    .navbar__container{
        width: 100%;

    }
    .navbar__container__menu{
        display: flex;
        flex-direction: column
        ;
        justify-content: center;
        width: 100%;
        // border-top: 1px solid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;

        &.active{
            left: 0px;
            opacity: 1;
            background: #728080;
        }   
    }



    .nav-icon_mobile{
        display: block;
        color: var(--green-theme-main-color);
        cursor: pointer;
        padding-right: 20px;
        margin: 10px 0px;
    }
}
